.settings/
.library_mapping.xml
.project

hardware/work-obj93.cf

*.vcd

*.ghw

software/assembler/__pycache__/


vs-extension/demonass/node_modules/

vs-extension/colortest/

vs-extension/demonassemblerlanguage/

vs-extension/vscode-extension-samples/

vs-extension/demonass-old/

software/assembler/parser/__pycache__/
