.settings/
.library_mapping.xml
.project

hardware/work-obj93.cf
hardware/.simvision

*.vcd

*.ghw

software/assembler/__pycache__/


vs-extension/demonass/node_modules/

vs-extension/colortest/

vs-extension/demonassemblerlanguage/

vs-extension/vscode-extension-samples/

vs-extension/demonass-old/

software/assembler/parser/__pycache__/

vs-extension/demonass/lsp-server/__pycache__/

software/assembler/python_parser_package/src/demonass_parser/__pycache__/

software/assembler/python_parser_package/my_token.txt

software/assembler/python_parser_package/dist/

vs-extension/demonass/lsp_server/__pycache__/

vs-extension/demonass/out/
